html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}


app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 60px; 
  z-index: 1000;
}

 router-outlet {
  top: 0;
  left: 0;
  width: 100%; 
}
