<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/groups" routerLinkActive="active">Group Component</a></li>
      <li><a routerLink="/dashboard-user" routerLinkActive="active">Dashboard User</a></li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Counter Section -->
    <div class="counters">
      <div *ngIf="groupCount !== null" class="counter-container">
        <p>Number of Groups: {{ groupCount }}</p>
      </div>
      <div *ngIf="taskCount !== null" class="counter-container">
        <p>Number of Tasks: {{ taskCount }}</p>
      </div>
      <div *ngIf="userCount !== null" class="counter-container">
        <p>Number of Users: {{ userCount }}</p>
      </div>
    </div>


    <!-- Router Outlet for displaying components -->
    <router-outlet></router-outlet>
  </div>
</div>
