.adimncontainer {
  display: flex;
  height: 100vh;
  padding: 10rem;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 237, 255);
}

.main-content {
  padding: 20px;
  flex-direction: column;
  display: flex;
  width: 900px;
  margin: 20px;
  height: 500px;
}

.counter-container {
  background-color: #ffffff; 
  border-left: #1868D8 solid 5px;
  font-weight: bold;
  padding: 20px;
  border-radius: 6px;
  margin-right: 10px;
  display: flex;
}
.counter-container p span{
  font-size: large;  
  color: #172B4D;
}

.counters {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-around;
}
.counters button{
  width: 88%;
}

