<nav>
    <ul>
        <li><img src="assets/image/logo.jpg" alt="Profile Picture" class="profile-pic" /></li>
        <li><a routerLink="/userdashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
        <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
    </ul>

    <div class="navbar-right">
        <button (click)="onLogout()">Logout</button>
        <div id="google_translate_element"></div>
    </div>
</nav>
