<div class="container">
  <div class="sidebar">
    <div class="group-list">
      <div class="group-item" (click)="selectGroup($event, group)" *ngFor="let group of groups">
        <div class="group-name">
          <img [src]="'assets/image/' + group.profilePicture" class="profile-pic" />
          <p>{{ group.nom }}</p>
        </div>
        <div >
          <button class="deletebutton" *ngIf="group.id" (click)="deleteGroup(group.id, $event)">
            <img src="assets/icons/delete-svgrepo-com.svg" width="20px" height="20px">
          </button>
          <button class="buttonedit" *ngIf="group.id" (click)="navigateToGroupForm(group, $event)">
            <img src="assets/icons/pen-to-square-solid.svg" width="20px" height="20px">
          </button>
        </div>
      </div>
    </div>
    <button class="group-form-button" (click)="navigateToGroupForm()">+ New Group</button>
  </div>
</div>
