.container {
  display: flex;
  width: 100%;
  height: 350px;
  overflow: auto;
}
.group-name{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.deletebutton{
  margin-right: 0.8rem;
  background-color: var(--error-color);
}

.buttonedit{
  width: min-content;
  background-color: #f5CD47;
}

.sidebar {
  width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-list {
  width: 100%;
  margin-bottom: 20px;
}

.group-item {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 16px;
}

.group-item:hover {
  background-color: rgb(233, 237, 255);
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
}
.group-item p{
  font-size: large;
  text-align: center;
  margin: 0;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}


