<div class="task">
  <h1 class="text-center">Task Details</h1>
  

  <div class="task-details-dialog">
    <div class="task-comments">
      <h2>Comments</h2>
      <div class="comment-list">
        <div *ngFor="let comment of comments" class="comment-item">
          <p><strong>{{comment.user.name }}</strong> - {{ comment.description }}</p>
        </div>
      </div>
      
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="add-comment">
          <textarea formControlName="description" placeholder="Add a comment..."></textarea>
          <button type="submit" [disabled]="commentForm.invalid">Submit</button>
        </div>
      </form>
    </div>

    <div class="task-details">
      <h2>Task Details</h2>
      <p><strong>Title:</strong> {{ data.task.title }}</p>
      <p><strong>Description:</strong> {{ data.task.description }}</p>
      <p><strong>Deadline:</strong> {{ data.task.deadline }}</p>
      <p><strong>Assigned to:</strong> {{  assignedUser}} </p> <!-- Display assigned user if available -->
      <button *ngIf="data.task.id" (click)="deleteTask(data.task.id)" class="delete">
        <img src="assets/icons/delete-svgrepo-com.svg"  width="20px" height="20px">
      </button>
      <button type="button" class="ai" (click)="fetchSummary()">
        <img src="assets/icons/microchip-solid.svg" alt="Description of the SVG" width="20px" height="20px">
      </button>
      <!-- Conditionally display the description summary -->
      <div class="summary" *ngIf="isSummaryVisible">
        <h2>Description summary: </h2>
        <p> {{ summarizedText }}</p>
      </div>
    </div>
  </div>
</div>