<div class="task-details-dialog">
    <h1 class="task-title">{{ data.task.title }}</h1>
    <div class="task-details">
      <p><strong>Description:</strong> {{ data.task.description }}</p>
      <p><strong>Duration:</strong> {{ data.task.deadline }} hours</p>
    </div>
    <div class="task-actions">
      <!-- <button mat-button [mat-dialog-close]="true"  class="btn btn-secondary">Close</button> -->
      <!-- <button mat-button (click)="onEdit()" [mat-dialog-close]="true" class="btn btn-primary">Edit</button> -->
      <!-- <button mat-button (click)="onDelete()" [mat-dialog-close]="true" class="btn btn-danger">Delete</button> -->
    </div>
  </div>