.container {
    display: flex;
    width: 100%;
    height: 50vh; /* Full height */
  }
  
  .sidebar {
    width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebarRight {
    /* backdrop-filter: blur(20px); */
    background-size: cover;  /* Ensures the image covers the whole background */
    background-position: center; /* Centers the background image */
    width: 1000px; /* Vous pouvez garder la largeur si nécessaire */
    height:500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column; /* Ajoutez cette ligne */
    align-items: center; /* Centre horizontalement */
    overflow-y: scroll;
  }
  
  .home-icon {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .group-list {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .group-item {
    display: flex;
    cursor: pointer;
    background-color: #ffffff;
    padding: 2rem;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 16px;
  }
  
  .group-item:hover {
    background-color: rgb(233, 237, 255);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .group-item p{
    font-size: large;
    text-align: center;
    margin: 0;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px white;
  }
  
  .task-list {
    width: 100%; /* Ajustez selon vos besoins */
    margin-top: 20px; /* Marge supérieure */
    
  }
  
  table {
    width: 100%; /* Prend toute la largeur */
    border-collapse: collapse; /* Suppression des bordures doubles */
    margin: 0 auto; /* Centre le tableau horizontalement */
    margin-bottom: 50px;
    
  }
  
  th, td {
    padding: 12px; /* Espacement interne */
    text-align: center; /* Alignement au centre */
    border-bottom: 1px solid #ddd; /* Bordure inférieure */
    
  }
  
  th {
    background-color: #3a4146; /* Couleur de fond de l'en-tête */
    color: white;
  }
  td{
    color: black;
  }
  .add-button {
    margin-top: 20px; /* Marge supérieure */
    padding: 10px; /* Espacement interne */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s; /* Transition douce */
    width: 150px; /* Largeur du bouton */
    display: block; /* Pour centrer le bouton */
    margin-left: auto; /* Marges automatiques pour le centrage */
    margin-right: auto; /* Marges automatiques pour le centrage */
  }
  
  
  
  
  .group-details {
    width: 100%;
    padding: 20px;
    flex-grow: 1; /* Grow to take available space */
  }
  
  .cover-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .group-header {
    display: flex;
    align-items: center;
  }
  
  .group-header .profile-pic {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  h2 {
    font-size: 30px;
    color: black;
  }
  
  body {
    display: block;
    margin: 8px;
    padding: 0;
    min-height: auto;
    background: none;
    overflow: auto;
    justify-content: normal;
    align-items: normal;
    height: auto;
    width: auto;
  }
  .filter-add-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
  }

  
  .form-group {
    flex: 1;
    padding: 0 10px;
    text-align: center;
  }
  .form-group button{
    width: 100%;
  }
  .form-group button:hover{
    transform: none;
    
  }
  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    padding-bottom: 0;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center top;  
  }